@font-face {
    font-family: 'arial';
    src: url('../fonts/regular/16063.eot');
    src: local('arial') url('../fonts/regular/16063.woff') format('woff'), url('../fonts/regular/16063.ttf') format('truetype'), url('../fonts/regular/16063.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'arial';
    src: url('../fonts/bold/arialbd.eot');
    src: local('arial') url('../fonts/bold/arialbd.woff') format('woff'), url('../fonts/bold/arialbd.ttf') format('truetype'), url('../fonts/bold/arialbd.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

.body {
    background: #ffffff;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main {
    max-width: 1280px;
    flex: 1 1 auto;
}

.title {
    font-family: 'arial', 'verdana', sans-serif;
    font-size: 30px;
    line-height: 85%;
    font-weight: 400;
    color: #445161;
}

.menu {
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
}

.menu__list {
    display: flex;
    justify-content: center;
    width: 100%;
}

.menu__items {
    flex: 1 1 20%;
    border-left: 3px solid black;
    display: flex;
}

.menu__items:last-child {
    border-right: 3px solid black;
}

.menu__items-link {
    text-transform: uppercase;
    padding: 20px 5px 20px 5px;
    flex: 0 0 100%;
    text-align: center;
    font-family: 'arial', 'verdana', sans-serif;
    font-size: 25px;
    line-height: 85%;
    font-weight: 400;
    color: #445161;
}

label,
#menu {
    display: none;
}

.menu__items-link:hover {
    color: green;
}

.menu__items-link:active {
    color: blue;
}

.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0px;
    padding-bottom: 56.25%;
    background-size: cover;
    position: relative;
    border-image: url(../img/photo-1.jpg);
    background-size: 100% 100%;
}

.slider-container-menu {
    position: absolute;
    left: 46.5%;
    z-index: 900;
    bottom: 0;
}

.slider-container-menu label {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50px;
    margin: 0 .2em 1em;
}

.slide {
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: left 0s .75s;
}

[id^="slide"]:checked + .slide {
    left: 0px;
    z-index: 100;
    transition: left .65s ease-out;
}

#slide-dot-1 {
    display: none;
}

#slide-dot-2 {
    display: none;
}

#slide-dot-3 {
    display: none;
}

.slide-1 {
    background-image: url(../img/photo-1.jpg);
}

.slide-2 {
    background-image: url(../img/photo-2.jpg);
}

.slide-3 {
    background-image: url(../img/photo-3.jpg);
}

.hi {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    background: #445161;
}

.hi__block {
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 0;
}

.hi__block-title {
    font-family: 'arial', 'verdana', sans-serif;
    font-size: 60px;
    line-height: 80%;
    font-weight: 400;
    color: #ffffff;
    margin: 0 0 40px 0;
}

.hi__list-item {
    font-family: 'arial', 'verdana', sans-serif;
    font-size: 20px;
    line-height: 80%;
    font-weight: 400;
    color: #ffffff;
    padding: 0 0 0 35px;
    position: relative;
    margin: 0 0 15px 0;
}

.hi__list-item:before {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../img/check_icon_hi_items.png);
    width: 25px;
    height: 19px;
    top: 0px;
    left: 0px;
}

.hi__list-item:last-child {
    margin: 0;
}

.hi__img {
    flex: 0 0 469px;
}

.hi__img > img {
    vertical-align: top;
    width: 100%;
}

.what {
    padding: 50px;
    display: flex;
    justify-content: flex-start;
}

.what__block {
    display: flex;
    flex-direction: column;
}

.what__img {
    flex: 0 0 430px;
    margin: 0 40px 0 0;
}

.what__img > img {
    vertical-align: top;
    width: 100%;
}

.what__title {
    margin: 0 0 35px 0;
}

.what__text {
    font-family: 'arial', 'verdana', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    margin: 0 0 20px 0;
}

.what__text:last-child {
    margin: 0;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 50px 20px 50px;
    background: #f5f5f5;
}

.column__title {
    margin: 0 0 30px 0;
}

.column__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column__items {
    display: flex;
    justify-content: center;
    flex: 0 1 50%;
    margin: 0 0 30px 0;
}

.column__items-img {
    flex: 0 0 200px;
}

.column__items-img > img {
    vertical-align: top;
    width: 100%;
}

.column__items-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 15px 0 15px;
    flex: 0 1 100%;
}

.column__items-title {
    font-family: 'arial', 'verdana', sans-serif;
    font-size: 24px;
    line-height: 85%;
    font-weight: 400;
    color: #445161;
    margin: 0 0 15px 0;
}

.column__items-text {
    font-family: 'arial', 'verdana', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.vertical {
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.vertical__title {
    margin: 0 0 30px 0;
    align-self: center;
}

.vertical__block {
    display: flex;
    justify-content: space-between;
}

.vertical__item {
    background-color: #445161;
    border-radius: 5px;
    border: 2px solid #445161;
    display: flex;
    flex-direction: column;
    flex: 0 0 300px;
}

.vertical__item-title {
    display: flex;
    justify-content: center;
    font-family: 'arial', 'verdana', sans-serif;
    font-size: 24px;
    line-height: 85%;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    padding: 15px;
}

.vertical__item-coment {
    font-family: 'arial', 'verdana', sans-serif;
    font-size: 40px;
    line-height: 85%;
    font-weight: 400;
    color: #445162;
    background: #ffffff;
    padding: 22px 0;
    display: flex;
    justify-content: center;
}

.vertical__item-block-text {
    padding: 20px 20px 0 20px;
    flex: 1 1 auto;
}

.vertical__item-text {
    font-family: 'arial', 'verdana', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    margin: 0 0 20px 0;
}

button[name=vertical__item-button] {
    background: #ffffff;
    padding: 11px;
    font-family: 'arial', 'verdana', sans-serif;
    font-size: 18px;
    line-height: 85%;
    font-weight: 700;
    color: #445161;
    border-radius: 3px;
    align-self: center;
    margin: 0 20px 20px 20px;
    align-self: stretch;
}

button[name=vertical__item-button]:hover {
    background: green;
}

button[name=vertical__item-button]:active {
    background: blue;
}

.footer {
    max-width: 1280px;
    height: 65px;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__text {
    font-family: 'arial', 'verdana', sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #445162
}

@media (min-width: 768px) and (max-width: 1024px) {

    .menu {
        padding: 20px 20px;
    }

    .menu__items-link {
        padding: 20px 5px 20px 5px;
    }

    .slider-container-menu {
        position: absolute;
        left: 45.4%;
        z-index: 900;
        bottom: 0;
    }

    .hi {
        padding: 20px;
        flex-direction: column-reverse;
        align-items: center;
    }

    .hi__block {
        flex-direction: column;
        margin: 20px 0 0 0;
    }

    .hi__block-title {
        text-align: center;
    }

    .hi__img {
        flex: 0 0 214px;
    }

    .hi__img > img {
        vertical-align: top;
        width: 100%;
    }

    .what {
        padding: 20px;
        flex-direction: column-reverse;
        align-items: center;
    }

    .title {
        text-align: center;
    }

    .what__block {
        margin: 0 0 20px 0;
    }

    .what__img {
        margin: 0;
        flex: 0 0 186px;
    }

    .what__img > img {
        vertical-align: top;
        width: 100%;
    }

    .column {
        padding: 20px 20px 0 20px;
    }

    .column__items {
        margin: 0 0 10px 0;
    }

    .column__items-block {
        margin: 0 10px 0 10px;
    }

    .column__items-img {
        flex: 0 0 150px;
    }

    .column__items-img > img {
        vertical-align: top;
        width: 100%;
    }

    .vertical {
        padding: 20px 20px 0 20px;
        flex-direction: column;
    }

    .vertical__block {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .vertical__item {
        margin: 0 5px 20px 5px;
    }

}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .menu {
        padding: 20px 20px;
    }

    .menu__items-link {
        padding: 20px 5px 20px 5px;
    }

    .slider-container-menu {
        position: absolute;
        left: 45.4%;
        z-index: 900;
        bottom: 0;
    }

    .hi {
        padding: 20px;
        flex-direction: column-reverse;
        align-items: center;
    }

    .hi__block {
        flex-direction: column;
        margin: 20px 0 0 0;
    }

    .hi__block-title {
        text-align: center;
    }

    .hi__img {
        flex: 0 0 214px;
    }

    .hi__img > img {
        vertical-align: top;
        width: 100%;
    }

    .what {
        padding: 20px;
        flex-direction: column-reverse;
        align-items: center;
    }

    .title {
        text-align: center;
    }

    .what__block {
        margin: 0 0 20px 0;
    }

    .what__img {
        margin: 0;
        flex: 0 0 186px;
    }

    .what__img > img {
        vertical-align: top;
        width: 100%;
    }

    .column {
        padding: 20px 20px 0 20px;
    }

    .column__items-block {
        margin: 0 10px 0 10px;
    }

    .column__items-img {
        flex: 0 0 150px;
    }

    .column__items-img > img {
        vertical-align: top;
        width: 100%;
    }

    .vertical {
        padding: 20px 20px 0 20px;
        flex-direction: column;
    }

    .vertical__block {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .vertical__item {
        margin: 0 0 20px 0;
        margin: 0 5px 20px 5px;
    }

}

@media (min-width: 481px) and (max-width: 767px) {

    .menu {
        padding: 15px 20px;
        display: flex;
        flex-direction: column;
    }

    label {
        display: block;
        align-self: flex-end;
    }

    .visuallyHidden {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        display: block;
    }

    .hamburger {
        margin: 0 auto;
        width: 30px;
        height: 30px;
        position: relative;
    }

    .hamburger .bar {
        padding: 0;
        width: 30px;
        height: 4px;
        background-color: maroon;
        display: block;
        border-radius: 4px;
        transition: all 0.4s ease-in-out;
        position: absolute;
    }

    .bar1 {
        top: 0;
    }

    .bar2,
    .bar3 {
        top: 13.5px;
    }

    .bar3 {
        right: 0;
    }

    .bar4 {
        bottom: 0;
    }

    .hamburger3 .bar1 {
        transform-origin: 5%;
    }

    .hamburger3 .bar4 {
        transform-origin: 5%;
    }

    .checkbox3:checked + label > .hamburger3 > .bar1 {
        transform: rotate(45deg);
        height: 3px;
        width: 42px;
    }

    .checkbox3:checked + label > .hamburger3 > .bar3 {
        transform: rotate(45deg);
        height: 3px;
        background-color: transparent;
    }

    .checkbox3:checked + label > .hamburger3 > .bar2 {
        transform: rotate(-45deg);
        height: 3px;
        background-color: transparent;
    }

    .checkbox3:checked + label > .hamburger3 > .bar4 {
        transform: rotate(-45deg);
        height: 3px;
        width: 42px;
    }

    .menu__list {
        height: 0;
        visibility: hidden;
        margin: 0 auto;
        width: 100%;
        flex-direction: column;
    }

    .menu__items {
        text-align: center;
        background-color: #ccc;
        margin-top: 2px;
        border: 2px solid #333333;
    }

    .menu__items:last-child {
        border: 2px solid #333333;
    }

    .menu__items-link {
        padding: 15px 5px 15px 5px;
    }


    input[type="checkbox"]:checked ~ .menu__list {
        height: auto;
        visibility: visible;
        margin: 15px auto 0 auto;
    }

    .slider-container-menu {
        position: absolute;
        left: 42.5%;
        z-index: 900;
        bottom: 0;
    }

    .hi {
        padding: 20px;
        flex-direction: column-reverse;
        align-items: center;
    }

    .hi__block {
        flex-direction: column;
        margin: 20px 0 0 0;
    }

    .hi__block-title {
        text-align: center;
    }

    .hi__list-item {
        line-height: 100%;
        margin: 0 0 10px 0;
    }

    .hi__img {
        flex: 0 0 200px;
    }

    .hi__img > img {
        vertical-align: top;
        width: 100%;
    }

    .what {
        padding: 20px;
        flex-direction: column-reverse;
        align-items: center;
    }

    .title {
        text-align: center;
    }

    .what__block {
        margin: 0 0 20px 0;
    }

    .what__img {
        margin: 0;
        flex: 0 0 186px;
    }

    .what__img > img {
        vertical-align: top;
        width: 100%;
    }

    .column {
        padding: 20px 20px 0 20px;
    }

    .column__block {
        flex-direction: column;
        align-items: center;
    }

    .column__items-img {
        flex: 0 0 200px;
    }

    .column__items-img > img {
        vertical-align: top;
        width: 100%;
    }

    .column__items-block {
        margin: 0 0 0 15px;
    }

    .vertical {
        padding: 20px 20px 0 20px;
        flex-direction: column;
    }

    .vertical__block {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .vertical__item {
        margin: 0 5px 20px 5px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {

    .menu {
        padding: 15px 10px;
        display: flex;
        flex-direction: column;
    }

    label {
        display: block;
        align-self: flex-end;
    }

    .visuallyHidden {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        display: block;
    }

    .hamburger {
        margin: 0 auto;
        width: 30px;
        height: 30px;
        position: relative;
    }

    .hamburger .bar {
        padding: 0;
        width: 30px;
        height: 4px;
        background-color: maroon;
        display: block;
        border-radius: 4px;
        transition: all 0.4s ease-in-out;
        position: absolute;
    }

    .bar1 {
        top: 0;
    }

    .bar2,
    .bar3 {
        top: 13.5px;
    }

    .bar3 {
        right: 0;
    }

    .bar4 {
        bottom: 0;
    }

    .hamburger3 .bar1 {
        transform-origin: 5%;
    }

    .hamburger3 .bar4 {
        transform-origin: 5%;
    }

    .checkbox3:checked + label > .hamburger3 > .bar1 {
        transform: rotate(45deg);
        height: 3px;
        width: 42px;
    }

    .checkbox3:checked + label > .hamburger3 > .bar3 {
        transform: rotate(45deg);
        height: 3px;
        background-color: transparent;
    }

    .checkbox3:checked + label > .hamburger3 > .bar2 {
        transform: rotate(-45deg);
        height: 3px;
        background-color: transparent;
    }

    .checkbox3:checked + label > .hamburger3 > .bar4 {
        transform: rotate(-45deg);
        height: 3px;
        width: 42px;
    }

    .menu__list {
        height: 0;
        visibility: hidden;
        margin: 0 auto;
        width: 100%;
        flex-direction: column;

    }

    .menu__items {
        text-align: center;
        background-color: #ccc;
        margin-top: 2px;
        border: 2px solid #333333;
    }

    .menu__items:last-child {
        border: 2px solid #333333;
    }

    .menu__items-link {
        padding: 15px 5px 15px 5px;
    }


    input[type="checkbox"]:checked ~ .menu__list {
        height: auto;
        visibility: visible;
        margin: 15px auto 0 auto;
    }

    .slider-container-menu {
        position: absolute;
        left: 38.8%;
        z-index: 900;
        bottom: 0;
    }

    .hi {
        padding: 15px 10px;
        flex-direction: column-reverse;
        align-items: center;
    }

    .hi__block {
        flex-direction: column;
        margin: 15px 0 0 0;
    }

    .hi__block-title {
        font-size: 40px;
        margin: 0 0 20px 0;
        text-align: center;
    }

    .hi__list-item {
        line-height: 100%;
        margin: 0 0 10px 0;
    }

    .hi__img {
        flex: 0 0 214px;
    }

    .hi__img > img {
        min-height: 214px;
        object-fit: none;
        object-position: center;
    }

    .what {
        padding: 15px 10px;
        flex-direction: column-reverse;
        align-items: center;
    }

    .title {
        font-size: 28px;
        line-height: 85%;
        text-align: center;
    }

    .what__block {
        margin: 0 0 10px 0;
    }

    .what__title {
        margin: 0 0 15px 0;
    }

    .what__text {
        margin: 0 0 10px 0;
    }

    .what__img {
        margin: 0;
        flex: 0 0 130px;
    }

    .what__img > img {
        width: 100%;
        vertical-align: top;
    }

    .column {
        padding: 15px 10px 0 10px;
    }

    .column__title {
        margin: 0 0 15px 0;
    }

    .column__block {
        flex-direction: column;
        align-items: center;
    }

    .column__items {
        flex-direction: column;
        align-items: center;
        margin: 0 0 10px 0;
    }

    .column__items-img {
        flex: 0 0 150px;
        vertical-align: top;
        margin: 0 0 10px 0;
    }

    .column__items-img > img {
        vertical-align: top;
        width: 100%;
    }

    .column__items-block {
        margin: 0;
    }

    .column__items-title {
        text-align: center;
        margin: 0 0 10px 0;
    }

    .vertical {
        padding: 15px 10px 0 10px;
        flex-direction: column;
    }

    .vertical__block {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .vertical__title {
        margin: 0 0 15px 0;
        align-self: center;
    }

    .vertical__item {
        margin: 0 0 10px 0;
    }

    .vertical__item-title {
        font-size: 20px;
        padding: 10px;
    }

    .vertical__item-coment {
        font-size: 22px;
        padding: 10px 0;
    }

    .vertical__item-block-text {
        padding: 10px 10px 0 10px;
        flex: 1 1 auto;
    }

    .footer {
        height: 30px;
    }

}
